<div class="row pizza-booked">
    <div class="col-md-9 col-sm-10 left">
        <h4><%= pizza.title %> (<%= size %>)</h4>
        <span class="radius"><img src="assets/images/size-icon.svg"> <%= pizza[size].size %></span>
        <span class="weight"><img src="assets/images/weight.svg"> <%= pizza[size].weight %></span>
        <p class="buttons">
            <b><span class="price"><%= pizza[size].price*quantity %></span>грн </b>
            <span class="glyphicon glyphicon-minus minus" aria-hidden="true"></span>
            <span class="count-label"><%= quantity %></span>
            <span class="glyphicon glyphicon-plus plus" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span>
        </p>
    </div>
    <div class="visible-lg-block visible-md-block visible-sm-block col-md-3 col-sm-2 image">
        <img src="<%= pizza.icon %>">
    </div>
</div>